
body {
    margin: 0px;
    padding: 0px;
    background: #e6caff;
}

.navigParant {
    position: fixed;
    width: 100%;
}

.navig {
    padding: 5px 150px;
    background: #ffffff;
    background-color: rgba(255, 255, 255, 0.5);
    /*opacity: 0.3;*/

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu>li:hover{
    color: blue;
}

.loginImg {
    /*width: 50px;*/
    height: 50px;
}

.menu li {
    padding: 0px 10px;
    /*width: 200px;*/
    list-style: none;
    /*float: left;*/
    /*display: table;*/
    float: left;
    /*position: relative;*/
}

.content {
    height: 2000px;
}